<div class="side__nav">
    <img class="nav__img" src="/assets/images/png/headerlogo.png" alt="">
    <div class="nav__tile active__tile">
        <span>Dashboard</span>
    </div>
    <div class="nav__tile">
        <span>Projects</span>
        <div class="sub__nav">
            <div class="sub__tile">
                <span>Summary</span>
            </div>
            <div class="sub__tile">
                <span>My Projects</span>
            </div>
            <div class="sub__tile">
                <span>Documents</span>
            </div>
        </div>
    </div>
    <script src="/assets/scripts/global.js"></script>
</div>